{% extends 'main.html' %}

{% block extend_head %}
    <title>CASFETA Website - Teachings</title>
{% endblock %}

{% block content %}
    <section class="single-post-content">
        <div class="container">
            <div class="row">
                <div class="col-md-9 post-content" data-aos="fade-up">

                    <!-- ======= Single Post Content ======= -->
                    <div class="single-post">
                        <h1>Article List</h1>
                        {% for article in articles %}
                            <article>
                                <h2>{{ article.title|safe }}</h2>
                                <span class="date">{{ article.article_created_at|date:"F d, Y" }}</span>
                                <p>{{ article.content|safe }}</p>
                            </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extend_footer %}
    <!-- Include any additional footer content if needed -->
{% endblock %}
